# Rename to wallet-control-bot.service
[Unit]
Description=Wallet Control Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/new_bot/wallet_control_bot
ExecStart=/home/new_bot/wallet_control_bot/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target